/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.header-control-wrapper {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 1120px;
}

.menu-main-menu-container {
	justify-content: center;
	align-items: center;
	align-content: center;
	display: flex;
}

#masthead {
	position: fixed;
	background: rgba(255, 255, 255, 0.7);
	z-index: 99999;
	border-bottom: 1px solid lightgrey;
  a,i {
		color: #248A83;
		padding-right: 0;
		margin-right: 0;
	}
	a:hover {
	  color: #634E6B;
	}
	input {
		font-family: 'Novecento Web'
	}
}

.site-header {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	height: 4rem;
	font-family: 'Novecento Web';
  font-weight: normal;
	font-style: normal;
}

.product-type-nav {
	a:hover {
		color: #634E6B;
	}
}

.main-navigation {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: $base__space-unit;
			left: -999rem;
			z-index: 99999;

			ul {
				left: -999rem;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}
	a {
		display: block;
		text-decoration: none;
		padding-left: 1rem;
		padding-right: 1rem;
    text-transform: uppercase;
		color: #FFF;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}
}

.search-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-submit {
	background: transparent;
	border: none;	
	outline: none;
	padding-right: 0;	
}

fieldset {
	padding-right: 0;
}



.search-field {
	display: none;
	background: transparent;
	border: none;
	color: #000;
	outline: none;
}


.search-form {
  fieldset {
		border: none;
		padding-left: 1rem;
		padding-top: 0.8rem;
	}
}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
