/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	display: flex;
	flex-flow: column nowrap;
	padding-left: 1rem;
	position: absolute;
	top: 0;
	right: 0;
	width: 27%;
	height: 100%;
	padding-top: 5rem;
	border-left: 1px solid lightgrey;
	list-style-type: none;
	aside ul {
		text-align: left;
	}
}	

.widget {
	margin: 0 0 $base__space-unit;

.widget-title {
  color: #2f1339;
}

.biz-day {
	font-weight: bold;
}

#secondary {
	text-align: left;
}


	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

