/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 27%;
}	

.widget {
	margin: 0 0 $base__space-unit;


.widget-title {
  color: #2f1339;
}

.biz-day {
	font-weight: bold;
}

aside {
	ul {
	list-style-type: none;

	}
  a {
	text-decoration: none;
	font-family: 'Merriweather Web';
  }
}

#secondary {
	text-align: left;
}

#archives-2 {
	ul {
		padding: 0;
	}
}

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}

